<h1>Directives:</h1>
<p>instruction to the DOM</p>

<ul>
  <li>Component directives - (app-myComponent - /app-myComponent)</li>
  <li>Strucrural directives</li>
  <li>Attribute directives</li>
  <li>Custom directives</li>
</ul>

<div *ngIf="box">this is box</div>
<button (click)="showHide()">hide</button>
<hr />

<ul *ngFor="let p of products">
  <li>{{ p.name }} {{ p.price }}</li>
</ul>

<hr />

<div [ngSwitch]="age">
  <div *ngSwitchCase="3">infant</div>
  <div *ngSwitchCase="age <= 13">Kid</div>
  <div *ngSwitchCase="age <= 19">teen</div>
  <div *ngSwitchCase="age > 19">adult</div>
</div>
