<!-- <app-header></app-header>
<app-body></app-body> -->

<!-- <app-class-databinding></app-class-databinding> -->
<!-- <app-class-directives></app-class-directives> -->
<!-- <app-class-att-directive></app-class-att-directive> -->

<!-- example 1 -->
<!-- <app-product></app-product> -->
<!-- exapmple 2 -->
<!-- <app-products></app-products> -->

<!-- <app-lifecycle [name]="'raj'" *ngIf="show"> data from content </app-lifecycle>
<button (click)="onClick()">hide</button> -->

<!-- <app-class5-view-child></app-class5-view-child> -->

<!-- <app-main></app-main> -->
